
h1 {
    text-align: center;
    color: rgb(21, 119, 6);
    background-image: url(el\ salvador\.jpg);
    box-sizing:border-box; 
    width: 1600px;
    height: 150px;
    font-variant: small-caps;
    
}

p{
    font-size:larger;
}

h2{
    border-left-style: dashed;
}

a{
    color:rgb(0, 0, 0);
    background-color: rgb(46, 192, 211);
}

h6{
    color: rgb(18, 83, 222);
}

body{
    background-image: linear-gradient( green,rgb(10, 174, 30), rgb(14, 175, 27),rgb(10, 150, 70),white);
}

